[package]
name = "uqexpr"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
thiserror = "2.0.17"

[dev-dependencies]
assert_cmd = "2"
predicates = "3"
tempfile = "3"
[[bin]]
name = "uqexpr"
path = "src/bin/uqexpr.rs"